// Zellij configuration file

keybinds {
    normal {
        // Custom keybindings
        bind "Ctrl a" { SwitchToMode "tmux"; }
        // Remap lock mode toggle from Ctrl-g to Ctrl-Shift-g
        unbind "Ctrl g"  // Disable default Ctrl-g
        bind "Ctrl Shift g" { SwitchToMode "locked"; }
    }
    locked {
        // Allow exiting locked mode with the same key combination
        bind "Ctrl Shift g" { SwitchToMode "normal"; }
    }
    tmux {
        // Tmux-like keybindings for easier transition
        bind "[" { SwitchToMode "Scroll"; }
        bind "Ctrl a" { Write 1; SwitchToMode "Normal"; }
        bind "c" { NewTab; SwitchToMode "Normal"; }
        bind "," { SwitchToMode "RenameTab"; }
        bind "n" { GoToNextTab; SwitchToMode "Normal"; }
        bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "d" { Detach; }
        bind "s" { 
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
            }
            SwitchToMode "Normal"
        }
        bind "w" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
            }
            SwitchToMode "Normal"
        }
        bind "\\" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "-" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "h" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "H" { MovePane "Left"; SwitchToMode "Normal"; }
        bind "J" { MovePane "Down"; SwitchToMode "Normal"; }
        bind "K" { MovePane "Up"; SwitchToMode "Normal"; }
        bind "L" { MovePane "Right"; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "0" { GoToTab 1; SwitchToMode "Normal"; }
        bind "1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "3" { GoToTab 3; SwitchToMode "Normal"; }
        bind "4" { GoToTab 4; SwitchToMode "Normal"; }
        bind "5" { GoToTab 5; SwitchToMode "Normal"; }
        bind "6" { GoToTab 6; SwitchToMode "Normal"; }
        bind "7" { GoToTab 7; SwitchToMode "Normal"; }
        bind "8" { GoToTab 8; SwitchToMode "Normal"; }
        bind "9" { GoToTab 9; SwitchToMode "Normal"; }
        bind "Tab" { GoToNextTab; }
        bind "Esc" { SwitchToMode "Normal"; }
    }
}

themes {
    tokyo-night {
        fg 169 177 214
        bg 26 27 38
        black 56 62 90
        red 247 118 142
        green 158 206 106
        yellow 224 175 104
        blue 122 162 247
        magenta 187 154 247
        cyan 42 195 222
        white 192 202 245
        orange 255 158 100
    }
}

theme "tokyo-night"
default_shell "zsh"
copy_on_select true
scrollback_editor "/usr/local/bin/nvim"
mouse_mode true
simplified_ui false
pane_frames false

